{% extends 'base.html' %}

{% block links %}<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">{% endblock %}
{% block head %}Signup{% endblock %}

{% block body %}

    <div class="login-page">
      <h2 id="name"><span>Match</span>Financial</h2>
        <div class="form">
          <form class="login-form" method="POST">
            <input type="text" placeholder="First Name" id="fname" name="fname"/>
            <input type="text" placeholder="Middle Name" id="mname" name="mname"/>
            <input type="text" placeholder="Last Name" id="lname" name="lname"/>
            <input type="text" placeholder="Address" id="address" name="address"/>
            <input type="text" placeholder="City" id="city" name="city">
            <input type="text" placeholder="State" id="state" name="state">
            <input type="text" placeholder="Phone Number" id="phone" name="phone">
            <input type="email" placeholder="Email Address" id="email" name="email"/>
            <input type="date" placeholder="Date of Birth" id="dob" name="dob">
            <input type="text" placeholder="Valid ID Number" id="IDno" name="IDno">
            <input type="password" placeholder="Enter Password" id="password" name="password">
            <input type="password" placeholder="Confirm Password" id="password1" name="password1">
            <label for="account_type">Select the account type</label>
            <select name="account_type" id="drop_down">
                <option value="Checking">Checking</option>
                <option value="Regular_Savings">Regular Savings</option>
                <option value="Fixed_deposit">Fixed Deposit</option>
            </select>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="login">Sign In</a></p>
          </form>

        </div>
      </div>
{% endblock %}
