{% extends 'base.html' %}

{% block head %}Admin{% endblock %}
{% block body %}
    <nav class="navbar">
        {{text}}
        <div><h2 id="title"><span>Match</span>Financial</h2></div>
        <div>
            {% if now.is_authenticated %}
        <ul class="login">
            {% if now.is_superuser %}
            <li><a href="admin_signup">Create Admin</a>&nbsp;</li>
            {% endif %}
            <li><a href="logout">Logout</a></li>
            <li id="user_image">
                <img src="{{url_for('static', filename='pic.png')}}">
            </li>
            </ul>
            {% else %}
        <ul class="login" style="padding:15px">
            <li><a href="signup">Sign Up</a>&nbsp;</li>
            <li><a href="login">Login</a></li>
        </ul>
            {% endif %}
        </div>
    </nav>
    <div class="grid_all">
        <div class="title">SuperUser and Administators</div>
        <div class="grid_admins">
            <div class="row">
                <div class="col_header">Firstname</div>
                <div class="col_header">Email</div>
                <div class="col_header">isAdmin</div>
                <div class="col_header">Phone Number</div>
                <div class="col_header">Delete</div>
            </div>
            {% for user in users%}
            {% if user.is_admin %}
            <div class="row">
                <div class="col_data">{{user.firstName}}</div>
                <div class="col_data">{{user.email}}</div>
                <div class="col_data">{{user.is_admin}}</div>
                <div class="col_data">{{user.phone}}</div>
                {% if user.is_superuser %}
                <div class="col_data">SuperUser</div>
                {% else %}
                <div class="col_data"><button onclick="deleteUser({{user.id}})">Delete</button></div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="title">Users</div>
        <div class="grid_users">
            <div class="row">
                <div class="col_header">Firstname</div>
                <div class="col_header">Email</div>
                <div class="col_header">Phone Number</div>
                <div class="col_header">Delete</div>
            </div>
            {% for user in users%}
            {% if user.is_admin %}
            {% else %}
            <div class="row">
                <div class="col_data">{{user.firstName}}</div>
                <div class="col_data">{{user.email}}</div>
                <div class="col_data">{{user.phone}}</div>
                <div class="col_data"><button onclick="deleteUser({{user.id}})">Delete</button></div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="title">User Loans</div>
        {% if loans %}
        <div class="grid_loan">
            <div class="row">
            <div class="col_header">Firstname</div>
            <div class="col_header">Email</div>
            <div class="col_header">Loan Amount</div>
            <div class="col_header">Amount to pay</div>
            <div class="col_header">Pay By</div>
            <div class="col_header">Time Taken</div>
            <div class="col_header">Delete Loan</div>
            </div>
            {% for loan in loans%}
            <div class="row">
                <div class="col_data">{{loan.email}}</div>
                <div class="col_data">{{loan.email}}</div>
                <div class="col_data">{{loan.amount}}</div>
                <div class="col_data">{{loan.left_to_pay}}</div>
                <div class="col_data">{{loan.time_span}}</div>
                <div class="col_data">{{loan.date_taken}}</div>
                <div class="col_data"><button onclick="deleteLoan({{loan.id}})">Delete</button>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3>No loans</h3>
        {% endif %}
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='admin.js')}}"></script>
{% endblock %}