{% extends 'base.html' %}

{% block head %}Home{% endblock %}

{% block body %}
    <nav class="navbar">
        {{text}}
        <div><h2 id="title"><span>Match</span>Financial</h2></div>
        <div>
            {% if user.is_authenticated %}
            <ul class="login">
            {% if user.is_admin %}
            <li><a href="admin">Admin</a>&nbsp;</li>
            {% else %}
            <li><a href="account">Account</a>&nbsp;</li>
            {% endif %}
            <li><a href="logout">Logout</a></li>
            <li id="user_image">
                <img src="{{url_for('static', filename='pic.png')}}">
            </li>
            </ul>
            {% else %}
        <ul class="login" style="padding:15px">
            <li><a href="signup">Sign Up</a>&nbsp;</li>
            <li><a href="login">Login</a></li>
        </ul>
            {% endif %}
        </div>
        <div class="grid3">
        <ul class="services">
            {% if user.is_authenticated %}
            <li><a href="personal_loans">Personal Loans</a></li>
            <li><a href="business_loans">Business Loans</a></li>
            <li><a href="student_loans">Student Loans</a></li>
            <li><a href="debt_consolidation">Debt Consolidation</a></li>
            {% else %}
            <li><a href="login">Personal Loans</a></li>
            <li><a href="login">Business Loans</a></li>
            <li><a href="login">Student Loans</a></li>
            <li><a href="login">Debt Consolidation</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
    <div class="main">
        <div class="apply">
            <h3 id="imagetext">Personal Loans</h3>
            <p id="mtext">Find what fits you best</p>
            <button type="button" id="img_button">Apply Now</button>
        </div>
        <div class="box"><a href="pay_loan">Pay Loans</a></div>
        <div class="box"><a href="pay_loan">My Loans</a></div>
        <div class="box">Student Loans</div>
        <div class="box">Debt Consolidation</div>
    </div>
    <div class="offers">
        <div id="left">
            <p>Loans up to 100k as soon as next day</p>
            <p class="des">No impact on your credit score</p>
        </div>
        <div id="mid">
            <p>Get Personal Loan Offers </p>
            <p class="des">No impact on your credit score</p>
        </div>
        <div id="right">
            <p>Low rates starting at 3.84% APR</p>
            <p class="des">No impact on your credit score</p>
        </div>
    </div>
    <div class="miniform">
        <div id="head">How much would you like to borrow?</div>
        <form action="#" method="#">
            <div>
                <label for="loan_term">Loan Amount</label>
                <input type="number" class="line" name="loan_amount"></div>
            <div>
                <label for="loan_term">Loan Time</label>
                <input type="number" class="line" name="loan_term"></div>
            <div>
                <label for="interest_rate">Interest Rates</label>
                <input type="number" class="line" name="interest_rate"></div>
            <div>
                <label for="amount" id="increase_size">$456/mo</label>
                <button id="move" type="submit">Apply Now</button>
            </div>
        </form>
    </div>
{% endblock %}
