{% extends 'base.html' %}

{% block head %}Admin Signup{% endblock %}

{% block body %}

    <div class="login-page">
      <h2 id="name"><span>Match</span>Financial</h2>
        <div class="form">
          <form class="login-form" method="POST" enctype="multipart/form-data">
            <input type="text" placeholder="First Name" id="fname" name="fname" required/>
            <input type="text" placeholder="Middle Name" id="mname" name="mname" required/>
            <input type="text" placeholder="Last Name" id="lname" name="lname" required/>
            <input type="text" placeholder="Phone Number" pattern="[0-9]{10}" id="phone" name="phone" required>
            <input type="email" placeholder="Email Address" id="email" name="email" required/>
            <input type="date" placeholder="Date of Birth" id="dob" name="dob" required>
            Upload a picture
            <input type="file" name="pic" required>
            <input type="text" placeholder="Valid ID Number" id="IDno" name="IDno" required>
            <label for="id_type">Select the ID type</label>
            <select name="id_type" id="drop_down">
                <option value="Driving License">Driving License</option>
                <option value="Voters Card">Voters Card</option>
                <option value="Ghana Card">Ghana Card</option>
            </select>
            <input type="password" placeholder="Enter Password" id="password" name="password" required>
            <input type="password" placeholder="Confirm Password" id="password1" name="password1" required>
            <button type="submit">Create Admin</button>
            <p class="message">Already registered? <a href="login">Sign In</a></p>
          </form>

        </div>
      </div>
{% endblock %}
