<footer>
    <div class="col3">
        <h2>Contact Us</h2>
        <ul>
            <li>Email: ansongandy@gmail.com</li>
            <li>Phone: +233 456 234 123</li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="col4">
        <h2>Follow Us</h2>
        <ul>
            <li><a href="#"><img src="{{url_for('static', filename='social/facebook.png')}}" alt="">Facebook</a></li>
            <li><a href="#"><img src="{{url_for('static', filename='social/twitter.png')}}" alt="">Twitter</a></li>
            <li><a href="#"><img src="{{url_for('static', filename='social/linkedin.png')}}" alt="">LinkedIn</a></li>
            <li><a href="#"><img src="{{url_for('static', filename='social/instagram.png')}}" alt="">Instagram</a></li>
            <li><a href="#"><img src="{{url_for('static', filename='social/whatsapp.png')}}" alt="">Whatsapp</a></li>
        </ul>
    </div>
</footer>
<div class="footer2">
    <div>MatchFinance &copy; 2023. All Rights Reserved.</div>
    <div class="end"><a href="#"><img src="{{url_for('static', filename='social/call.png')}}" alt="" title="Call Us"></a></div>
</div>