
.ndash li
{
    display: inline;
    float: right;
    padding: 10px;
   position: relative;
   bottom: 30px;
   font-size: 20px;
    
}
.ndash a
{
    text-decoration: none;
    color: blue;
}
.user-image 
{
    width: 40px;
    height: 40px;
    background:url(../images/windows-WJPHTJEtgzw-unsplash\ \(1\).jpg);
    border-radius: 90%;
    float: right;
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
  }

  .user-image img 
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
