*
{
    padding: 0;
    margin: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00437e;
}
nav{
    background-color: aliceblue;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: 130px;
}
.navbar > #name
{
    display: inline;
}
.navbar #title{
    padding:10px;
    position:absolute;
    font-size: 40px;
}
#title span{
color:blue;
}
.navbar ul
{
    display: inline;
    font-size: 18px;
}
.error_message, .success_message{
    position:absolute;
    width:100vw;
    z-index: 2;
    padding: 5px;
}
.error_message button, .success_message button{
    font-size: 30px;
    color:white;
}
.error_message{
    background-color: rgba(255, 101, 101,.9);
}
.error_message button{
    background-color: rgb(138, 4, 4);
    border-radius: 50%;
    width: 20px;
    font-size: 15px;
    height: 20px;
}
.success_message{
    background-color: rgba(101, 255, 101,.9);
}
.success_message button{
    background-color: rgb(8, 128, 4);
    border-radius: 50%;
    width: 20px;
    font-size: 15px;
    height: 20px;
}
.services
{
    display: inline-flex;
}
.services li
{
    display: inline;
    padding: 10px;
    font-size: 20px
}
.services li a{
    color:black;
    text-decoration:none;
}
.services li a:hover{
    color:rgb(44, 44, 192);
}
.grid3{
    grid-column:1/3;
    width: 100%;
    justify-self:center;
    text-align:center;
}
.login
{
    float: right;
}
.login a
{
    color: aliceblue;
    text-decoration: none;
}
.login li
{
    display: inline-flex;
    border:2px solid black;
    padding: 5px;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: aliceblue;
}
#user_image{
    border:none;
    position:relative;
    top: 15px;
    padding:0;
    border-radius: 50%;
    overflow:hidden;
}
#user_image img{
    width: 50px;
    height: 50px;
}
#name
{
    position: relative;
    top: 20px;
    font-size: 40px;
}
#name span{
    color:blue;
}
.main
{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: rgb(109, 183, 248);
    background-size:contain;
}
.apply
{
    position: absolute;
    top: 150px;
    left: 800px;
}
#mtext,#imagetext
{
    color:#00437e;
}
#imagetext
{
    font-size: 35px;
}
button
{
    border-radius: 20px;
    width: 100px;
    font-size: 15px;
    height: 40px;
    background-color:rgb(44, 44, 192);
}
button:hover{
    cursor: pointer;
}
.box
{
    width:110px;
    height: 100px;
    display: inline-flex;
    position: relative;
    border:1px solid burlywood;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    top: 400px;
    left: 40%;
    bottom: 10px;
    background-color: aliceblue;
}
.box a{
    color:black;
    text-decoration:none;
}
.offers
{
    height: 200px;
    width:100%;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    top: 80px;
}
#left, #right, #mid{
    color:rgb(0, 102, 255);
    text-align: center;
    font-weight: bold;
}
.des{
    color:gray;
    font-size: 13px;
}
.miniform
{
    background-color: rgb(15, 15, 54);
    color: white;
    text-align: center;
    padding: 20px;
    height: 150px;
}
#head{
    font-size: 25px;
}
.miniform form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.miniform form div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 45px;
    padding: 20px;
}
.miniform form div input{
    background-color: transparent;
    border:none;
    border-bottom: 1px white solid;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#move{
    position: relative;
    left: 90px;
    bottom: 40px;
}
#increase_size{
    font-size: 40px;
    position: relative;
    bottom: 40px;
}
table button{
    border-radius: 20px;
    width: 40px;
    font-size: 15px;
    height: 30px;
    background-color:rgb(44, 44, 192);
}